In [10]:
import sqlite3

In [11]:
connection=sqlite3.connect("INSTRUCTOR.db")

In [12]:
cursor_object=connection.cursor()

In [13]:
cursor_object.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [14]:
table="""create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE VARCHAR(2));"""

In [15]:
cursor_object.execute(table)

In [16]:
cursor_object.execute("""INSERT INTO INSTRUCTOR VALUES (1, "RAV", "AHUJA", "TORONTO", "CA"), (2, "RAUL", "CHONG", "MARKHAM", "CA"), (3, "HEMA", "VASUDEVAN", "CHICAGO", "US")""")

In [19]:
cursor_object.execute("SELECT * FROM INSTRUCTOR")

In [20]:
output=cursor_object.fetchall()

In [21]:
for info in output:
    print(info)

(1, 'RAV', 'AHUJA', 'TORONTO', 'CA')
(2, 'RAUL', 'CHONG', 'MARKHAM', 'CA')
(3, 'HEMA', 'VASUDEVAN', 'CHICAGO', 'US')

In [38]:
cursor_object.execute("SELECT * FROM INSTRUCTOR")
output_1=cursor_object.fetchmany(2)

In [39]:
for info_1 in output_1:
    print(info_1)

(1, 'RAV', 'AHUJA', 'TORONTO', 'CA')
(2, 'RAUL', 'CHONG', 'MARKHAM', 'CA')

In [40]:
cursor_object.execute("SELECT FNAME FROM INSTRUCTOR")

In [41]:
output_2=cursor_object.fetchall()

In [42]:
for info_2 in output_2:
    print(info_2)

('RAV',)
('RAUL',)
('HEMA',)

In [46]:
cursor_object.execute("""UPDATE INSTRUCTOR SET CITY='MOOSETOWN' WHERE FNAME='RAV'""")

In [49]:
cursor_object.execute("SELECT * FROM INSTRUCTOR")
output_3=cursor_object.fetchall()

In [50]:
for info_3 in output_3:
    print(info_3)

(1, 'RAV', 'AHUJA', 'MOOSETOWN', 'CA')
(2, 'RAUL', 'CHONG', 'MARKHAM', 'CA')
(3, 'HEMA', 'VASUDEVAN', 'CHICAGO', 'US')

In [51]:
import pandas as pd

In [52]:
df=pd.read_sql_query("select * from instructor", connection)

In [53]:
df

   ID FNAME      LNAME       CITY CCODE
0   1   RAV      AHUJA  MOOSETOWN    CA
1   2  RAUL      CHONG    MARKHAM    CA
2   3  HEMA  VASUDEVAN    CHICAGO    US

In [54]:
df.LNAME[0]

'AHUJA'

In [56]:
df.shape

(3, 5)

In [57]:
connection.close()