In [1]:
!pip install pandas

Requirement already satisfied: pandas in f:\miniconda\envs\py312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in f:\miniconda\envs\py312\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\miniconda\envs\py312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\miniconda\envs\py312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in f:\miniconda\envs\py312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in f:\miniconda\envs\py312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!pip install requests

Requirement already satisfied: requests in f:\miniconda\envs\py312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in f:\miniconda\envs\py312\lib\site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in f:\miniconda\envs\py312\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in f:\miniconda\envs\py312\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in f:\miniconda\envs\py312\lib\site-packages (from requests) (2024.12.14)

In [3]:
!pip install bs4

Requirement already satisfied: bs4 in f:\miniconda\envs\py312\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in f:\miniconda\envs\py312\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in f:\miniconda\envs\py312\lib\site-packages (from beautifulsoup4->bs4) (2.6)

In [4]:
!pip install html5lib

Requirement already satisfied: html5lib in f:\miniconda\envs\py312\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in f:\miniconda\envs\py312\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in f:\miniconda\envs\py312\lib\site-packages (from html5lib) (0.5.1)

In [5]:
!pip install lxml

Requirement already satisfied: lxml in f:\miniconda\envs\py312\lib\site-packages (5.3.0)

In [6]:
!pip install plotly

Collecting plotly
  Downloading plotly-6.0.0-py3-none-any.whl.metadata (5.6 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.24.1-py3-none-any.whl.metadata (10.0 kB)
Requirement already satisfied: packaging in f:\miniconda\envs\py312\lib\site-packages (from plotly) (24.2)
Downloading plotly-6.0.0-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   -- ------------------------------------- 0.8/14.8 MB 3.7 MB/s eta 0:00:04
   ---- ----------------------------------- 1.8/14.8 MB 4.4 MB/s eta 0:00:03
   -------- ------------------------------- 3.1/14.8 MB 4.6 MB/s eta 0:00:03
   ----------- ---------------------------- 4.2/14.8 MB 4.8 MB/s eta 0:00:03
   -------------- ------------------------- 5.5/14.8 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.1/14.8 MB 5.2 MB/s eta 0:00:02
   ---------------------- ----------------- 8.4/14.8 MB 5.3 MB/s eta 0:00:02
   -------------------------- ------------- 9.7/14.8 MB 5.3 MB/s eta 0:00:01
   ----------------------------- ---------- 11.0/14.8 MB 5.3 MB/s eta 0:00:01
   -------------------------------- ------- 12.1/14.8 MB 5.3 MB/s eta 0:00:01
   ----------------------------------- ---- 13.1/14.8 MB 5.3 MB/s eta 0:00:01
   -------------------------------------- - 14.4/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 3.5 MB/s eta 0:00:00
Downloading narwhals-1.24.1-py3-none-any.whl (309 kB)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.24.1 plotly-6.0.0

In [4]:
import pandas as pd

In [5]:
import requests

In [6]:
from bs4 import BeautifulSoup

In [7]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [8]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [9]:
data=requests.get(url).text

In [10]:
soup=BeautifulSoup(data,"html5lib")

In [11]:
netflix_data=pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [12]:
for row in soup.find("tbody").find_all("tr"):
    col=row.find_all("td")
    date=col[0].text
    Open=col[1].text
    high=col[2].text
    low=col[3].text
    close=col[4].text
    adj_close=col[5].text
    volume=col[6].text
    netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [13]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [16]:
read_html_pandas_data=pd.read_html(url)

In [15]:
read_html_pandas_data=pd.read_html(str(soup))
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

In [44]:
netflix_dataframe=read_html_pandas_data[0]
netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300